# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
db.sqlite3
media/
staticfiles/

# Env
.env
venv/
env/
.venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Matplotlib cache
.matplotlib/

# logs
*.log

trajectory.png
hyperbola.png

__pycache__/
*.pyc
db.sqlite3
staticfiles/